<%- include('inc/header.html') %>
<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				Корзина
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="cart">
			<div class="cart__items">
				<div class="cart__item">
					<div class="cart__item-cross"></div>
					<div class="cart__item-preview">
						<img src="../assets/images/product1.png" alt="">
					</div>
					<div class="cart__item-title">
						<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
					</div>
					<div class="cart__item-count">
						<div class="cart__item-count-remove">
							<div class="cart__item-count-remove--icon"></div>
						</div>
						<div class="cart__item-count-value">
							<span>3 шт</span>
						</div>
						<div class="cart__item-count-add">
							<div class="cart__item-count-add--icon"></div>
						</div>
					</div>
					<div class="cart__item-price">
						<span>50 700₽</span>
					</div>
				</div>
				<div class="cart__item">
					<div class="cart__item-cross"></div>
					<div class="cart__item-preview">
						<img src="../assets/images/product1.png" alt="">
					</div>
					<div class="cart__item-title">
						<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
					</div>
					<div class="cart__item-count">
						<div class="cart__item-count-remove">
							<div class="cart__item-count-remove--icon"></div>
						</div>
						<div class="cart__item-count-value">
							<span>3 шт</span>
						</div>
						<div class="cart__item-count-add">
							<div class="cart__item-count-add--icon"></div>
						</div>
					</div>
					<div class="cart__item-price">
						<span>50 700₽</span>
					</div>
				</div>
				<div class="cart__item">
					<div class="cart__item-cross"></div>
					<div class="cart__item-preview">
						<img src="../assets/images/product1.png" alt="">
					</div>
					<div class="cart__item-title">
						<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
					</div>
					<div class="cart__item-count">
						<div class="cart__item-count-remove">
							<div class="cart__item-count-remove--icon"></div>
						</div>
						<div class="cart__item-count-value">
							<span>3 шт</span>
						</div>
						<div class="cart__item-count-add">
							<div class="cart__item-count-add--icon"></div>
						</div>
					</div>
					<div class="cart__item-price">
						<span>50 700₽</span>
					</div>
				</div>
				<div class="cart__item">
					<div class="cart__item-cross"></div>
					<div class="cart__item-preview">
						<img src="../assets/images/product1.png" alt="">
					</div>
					<div class="cart__item-title">
						<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
					</div>
					<div class="cart__item-count">
						<div class="cart__item-count-remove">
							<div class="cart__item-count-remove--icon"></div>
						</div>
						<div class="cart__item-count-value">
							<span>3 шт</span>
						</div>
						<div class="cart__item-count-add">
							<div class="cart__item-count-add--icon"></div>
						</div>
					</div>
					<div class="cart__item-price">
						<span>50 700₽</span>
					</div>
				</div>
			</div>
			<div class="cart__total">
				<div class="cart__total-title">
					<span>ИТОГО:</span>
				</div>
				<div class="cart__total-value">
					<span>218 300₽</span>
				</div>
			</div>
			<div class="cart__bottom">
				<a href="" class="cart__back-button">
					Назад  в магазин
				</a>
				<a href="" class="cart__buy-button">
					Оформить
				</a>
			</div>
		</div>
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>