<%- include('inc/header.html') %>
<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				Наша продукция
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="catalog-filters">
			<div class="catalog-filters__filters">
				<div class="catalog-filters__filter-wrapper">
					<div class="catalog-filters__filter-title">
						<span>Цена:</span>
					</div>
					<div class="catalog-filters__filter">
						<input type="text" placeholder="От">
						<div class="catalog-filters__filter-units">руб</div>
					</div>
					<div class="catalog-filters__filter">
						<input type="text" placeholder="До">
						<div class="catalog-filters__filter-units">руб</div>
					</div>
				</div>
				<div class="catalog-filters__filter-wrapper">
					<div class="catalog-filters__filter-title">
						<span>Грузоподъемность:</span>
					</div>
					<div class="catalog-filters__filter">
						<input type="text" placeholder="От">
						<div class="catalog-filters__filter-units">кг</div>
					</div>
					<div class="catalog-filters__filter">
						<input type="text" placeholder="До">
						<div class="catalog-filters__filter-units">кг</div>
					</div>
				</div>	
			</div>
			<div class="catalog-filters__submit">
				<button class="btn">Подобрать</button>
			</div>

			<div class="catalog-filters__categories">
				<div class="catalog-filters__category">
					<div class="catalog-filters__category-image">
						<img src="../assets/images/product1.png" alt="">
					</div>
					<div class="catalog-filters__category-title text--colored text--uppercase">
						<span>штабелеры</span>
					</div>
				</div>
				<div class="catalog-filters__category">
					<div class="catalog-filters__category-image">
						<img src="../assets/images/product1.png" alt="">
					</div>
					<div class="catalog-filters__category-title text--colored text--uppercase">
						<span>гидравлические тележки</span>
					</div>
				</div>
			</div>
		</div>
		<div class="products m--t-35 m--b-35">
			<div class="product-card m--15">
				<div class="product-card__content-wrapper">
					<div class="product-card__top">
						<div class="availability">
							<div class="availability__icon tick"></div>
							<span>В наличии</span>
						</div>
						<div class="product-card__serial-num">
							<span>Артикул: ACL-25-1150</span>
						</div>
					</div>
					<a href="single-product.html" class="product-card__preview">
						<img src="../assets/images/product1.png" alt="">
					</a>
					<a href="single-product.html" class="product-card__title">
						<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
					</a>
					<div class="product-card__bottom">
						<div class="product-card__price-wrapper">
							<div class="product-card__discount">₽20 000</div>
							<div class="product-card__price">₽16 900</div>
						</div>
						<div class="product-card__add-button-wrapper">
							<div class="btn">В корзину</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product-card m--15">
				<div class="product-card__content-wrapper">
					<div class="product-card__top">
						<div class="availability">
							<div class="availability__icon tick"></div>
							<span>В наличии</span>
						</div>
						<div class="product-card__serial-num">
							<span>Артикул: ACL-25-1150</span>
						</div>
					</div>
					<a href="single-product.html" class="product-card__preview">
						<img src="../assets/images/product1.png" alt="">
					</a>
					<a href="single-product.html" class="product-card__title">
						<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
					</a>
					<div class="product-card__bottom">
						<div class="product-card__price-wrapper">
							<div class="product-card__discount">₽20 000</div>
							<div class="product-card__price">₽16 900</div>
						</div>
						<div class="product-card__add-button-wrapper">
							<div class="btn">В корзину</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product-card m--15">
				<div class="product-card__content-wrapper">
					<div class="product-card__top">
						<div class="availability">
							<div class="availability__icon tick"></div>
							<span>В наличии</span>
						</div>
						<div class="product-card__serial-num">
							<span>Артикул: ACL-25-1150</span>
						</div>
					</div>
					<a href="single-product.html" class="product-card__preview">
						<img src="../assets/images/product1.png" alt="">
					</a>
					<a href="single-product.html" class="product-card__title">
						<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
					</a>
					<div class="product-card__bottom">
						<div class="product-card__price-wrapper">
							<div class="product-card__discount">₽20 000</div>
							<div class="product-card__price">₽16 900</div>
						</div>
						<div class="product-card__add-button-wrapper">
							<div class="btn">В корзину</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product-card m--15">
				<div class="product-card__content-wrapper">
					<div class="product-card__top">
						<div class="availability">
							<div class="availability__icon tick"></div>
							<span>В наличии</span>
						</div>
						<div class="product-card__serial-num">
							<span>Артикул: ACL-25-1150</span>
						</div>
					</div>
					<a href="single-product.html" class="product-card__preview">
						<img src="../assets/images/product1.png" alt="">
					</a>
					<a href="single-product.html" class="product-card__title">
						<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
					</a>
					<div class="product-card__bottom">
						<div class="product-card__price-wrapper">
							<div class="product-card__discount">₽20 000</div>
							<div class="product-card__price">₽16 900</div>
						</div>
						<div class="product-card__add-button-wrapper">
							<div class="btn">В корзину</div>
						</div>
					</div>
				</div>
			</div>
			<div class="product-card m--15">
				<div class="product-card__content-wrapper">
					<div class="product-card__top">
						<div class="availability">
							<div class="availability__icon tick"></div>
							<span>В наличии</span>
						</div>
						<div class="product-card__serial-num">
							<span>Артикул: ACL-25-1150</span>
						</div>
					</div>
					<a href="single-product.html" class="product-card__preview">
						<img src="../assets/images/product1.png" alt="">
					</a>
					<a href="single-product.html" class="product-card__title">
						<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
					</a>
					<div class="product-card__bottom">
						<div class="product-card__price-wrapper">
							<div class="product-card__discount">₽20 000</div>
							<div class="product-card__price">₽16 900</div>
						</div>
						<div class="product-card__add-button-wrapper">
							<div class="btn">В корзину</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
</section>	

<%- include('inc/footer.html') %>
</body>

</html>