<%- include('inc/header.html') %>
<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				Как это работает?
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="steps">
			<div class="steps__step">
				<div class="steps__step-title text--text-font text--L text--500 m--b-25">
					<span>Покупка</span>
				</div>
				<div class="steps__step-icon m--b-10">
					<img src="../assets/images/cart.svg" alt="">
				</div>
				<div class="steps__step-description text--center">
					<div class="m--b-10">
						<span class="text--500 text--S text--text-font">Оформите покупку в</span>
					</div>
					<div class="steps__step-description-highlight">
						<span class="text--700 text--M text--text-font text--highlighted text--uppercase p--l-5 p--r-5">КОРЗИНЕ</span>
					</div>
				</div>
			</div>
			<div class="steps__step">
				<div class="steps__step-title text--text-font text--L text--500 m--b-25">
					<span>Покупка</span>
				</div>
				<div class="steps__step-icon m--b-10">
					<img src="../assets/images/calculator-white.svg" alt="">
				</div>
				<div class="steps__step-description text--center">
					<div class="m--b-10">
						<span class="text--500 text--S text--text-font">Мы пришлем документы на</span>
					</div>
					<div class="steps__step-description-highlight">
						<span class="text--700 text--M text--text-font text--highlighted text--uppercase p--l-5 p--r-5">ОПЛАТУ</span>
					</div>
				</div>
			</div>
			<div class="steps__step">
				<div class="steps__step-title text--text-font text--L text--500 m--b-25">
					<span>Покупка</span>
				</div>
				<div class="steps__step-icon m--b-10">
					<img src="../assets/images/payment-white.svg" alt="">
				</div>
				<div class="steps__step-description text--center">
					<div class="m--b-10">
						<span class="text--500 text--S text--text-font">Оплата по безналичному</span>
					</div>
					<div class="steps__step-description-highlight">
						<span class="text--700 text--M text--text-font text--highlighted text--uppercase p--l-5 p--r-5">РАСЧЕТУ</span>
					</div>
				</div>
			</div>
			<div class="steps__step">
				<div class="steps__step-title text--text-font text--L text--500 m--b-25">
					<span>Покупка</span>
				</div>
				<div class="steps__step-icon m--b-10">
					<img src="../assets/images/truck-white.svg" alt="">
				</div>
				<div class="steps__step-description text--center">
					<div class="m--b-10">
						<span class="text--500 text--S text--text-font">Покупка будет</span>
					</div>
					<div class="steps__step-description-highlight">
						<span class="text--700 text--M text--text-font text--highlighted text--uppercase p--l-5 p--r-5">ДОСТАВЛЕНА</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				Самовывоз
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="location">
			<div class="location__map">
				<iframe src="https://yandex.com/map-widget/v1/-/CCU6MNS-PC" allowfullscreen="true" ></iframe>
			</div>
			<div class="location__text">
				<div class="location__title m--b-15">
					<span>Адрес склада:</span>
				</div>
				<div class="location__text m--b-25">
					<span>396313, Воронежская область, Новоусманский район, с. Бабяково, ул. Индустриальная, 90</span>
				</div>
				<div class="location__title m--b-15">
					<span>GPS координаты:</span>
				</div>
				<div class="location__text m--b-25">
					<div class="location__text-icon">
						<img src="../assets/images/location.svg" alt="">
					</div>
					<span>51.709215, 39.459676</span>
				</div>
				<div class="location__title m--b-15">
					<span>Часы работы склада:</span>
				</div>
				<div class="location__text m--b-25">
					<div class="location__text-icon">
						<img src="../assets/images/clock.svg" alt="">
					</div>
					<span>Пн - Пт: 8:30-17:00</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				Условия доставки
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="text--S text--text-font text--400 text-marker--S">
			<ul>
				<li>
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все, текстов рекламных проектах которое своих, оксмокс пустился себя раз языкового пояс по всей однажды строчка своего домах залетают, взгляд, заголовок наш агентство реторический рукописи сих языком текстами диких то.
				</li>
				<li>
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все, текстов рекламных проектах которое своих, оксмокс пустился себя раз языкового пояс по всей однажды строчка своего домах залетают, взгляд, заголовок наш агентство реторический рукописи сих языком текстами диких то.
				</li>
				<li>
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все, текстов рекламных проектах которое своих, оксмокс пустился себя раз языкового пояс по всей однажды строчка своего домах залетают, взгляд, заголовок наш агентство реторический рукописи сих языком текстами диких то.
				</li>
			</ul>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				Условия оплаты
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="text--S text--text-font text--400 text-marker--S">
			<ul>
				<li>
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все, текстов рекламных проектах которое своих, оксмокс пустился себя раз языкового пояс по всей однажды строчка своего домах залетают, взгляд, заголовок наш агентство реторический рукописи сих языком текстами диких то.
				</li>
				<li>
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все, текстов рекламных проектах которое своих, оксмокс пустился себя раз языкового пояс по всей однажды строчка своего домах залетают, взгляд, заголовок наш агентство реторический рукописи сих языком текстами диких то.
				</li>
				<li>
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Все, текстов рекламных проектах которое своих, оксмокс пустился себя раз языкового пояс по всей однажды строчка своего домах залетают, взгляд, заголовок наш агентство реторический рукописи сих языком текстами диких то.
				</li>
			</ul>
		</div>
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>