<%- include('inc/header.html') %>
<div class="container">
	<div class="banner">
		<img src="../assets/images/banner.jpg" alt="">
	</div>	
</div>
<div class="modal-trigger" data-modal-id="contact-modal">Trigger Modal</div>
<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				О нас
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="text--center text--title-font text--L text--uppercase text-spacing--M">
			<span class="text--highlighted p--5">импортозамещение</span>
		</div>
		<div class="text--center text--title-font text--L text--uppercase text-spacing--M">
			<span class="">в действии</span>
		</div>
		<div class="text--title-font text--L m--t-25 text--center m--b-50">
			<span class="text--uppercase text--highlighted p--5">Первый</span>
			<span class="">в России производитель</span>
			<span class="text--colored">складской техники</span>
		</div>
		<div class="text-block text--S">
			<div class="video text-block__media text-block__media--right modal-trigger" data-modal-id="video-modal">
				<img src="../assets/images/video-preview.jpg" alt="">
				<div class="video__play-button">
					<img src="../assets/images/playbutton.svg" alt="">
				</div>
			</div>
			<p>Ассортимент предприятия включает гидравлические тележки широкого грузоподъемного ряда и штабелер с электрогидравлическим подъемом. В РФ данная номенклатура грузоподъемной техники не производится. Импортозамещение - в действии!</p>
			<p>Для производства гидравлических тележек и штабелеров используется современное оборудование – лазерные и гибочные, сварочные станки. Предприятие покрывает полный цикл производства – от резки металла до готового продукта.</p>
			<p>Продуктивное функционирование склада невозможно представить без специализированного оборудования и техники. Складская техника и оборудование, несомненно, значительно повысит производительность труда сотрудников и обеспечит им достойные условия для осуществления своей профессиональной деятельности. А это в свою очередь обеспечит стабильный рост вашего бизнеса. </p>
			<p><span class="text--M">Если вам необходима надежная и недорогая техника для склада, мы предлагаем обратиться в нашу компанию. У нас вы можете купить по оптовым ценам</span> <span class="text--M text--colored">погрузчики и штабелеры.</span></p>
			
			
		</div>
	</div>
	<div class="def-modal modal modal-bg" id="video-modal">
		<div class="def-modal__outer-container container">
			<div class="def-modal__inner-container def-modal__inner-container--100">
				<div class="def-modal__wrapper modal-window">
					<div class="def-modal__top">
						<div class="def-modal__title text--500 text--title-font text--L">
							<span class="modal-title">Modal</span>
						</div>
						<div class="def-modal__cross modal-cross">
							<div class="def-modal__cross-line def-modal__cross-line--1"></div>
							<div class="def-modal__cross-line def-modal__cross-line--2"></div>
						</div>
					</div>
					<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
						<div class="full-frame-16-9">
							<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				Наши преимущества
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="advantages">
			<div class="advantages__advantage">
				<div class="advantages__advantage-icon">
					<img src="../assets/images/face.png" alt="">
				</div>
				<div class="advantages__advantage-text--1">
					<span>Индивидуальный</span>
				</div>
				<div class="advantages__advantage-text--2">
					<span>подход</span>
				</div>
			</div>
			<div class="advantages__advantage">
				<div class="advantages__advantage-icon">
					<img src="../assets/images/card.png" alt="">
				</div>
				<div class="advantages__advantage-text--1">
					<span>Удобные</span>
				</div>
				<div class="advantages__advantage-text--2">
					<span>способы оплаты</span>
				</div>
			</div>
			<div class="advantages__advantage">
				<div class="advantages__advantage-icon">
					<img src="../assets/images/support.png" alt="">
				</div>
				<div class="advantages__advantage-text--1">
					<span>Консультации по</span>
				</div>
				<div class="advantages__advantage-text--2">
					<span>ТОВАРАМ</span>
				</div>
			</div>
			<div class="advantages__advantage">
				<div class="advantages__advantage-icon">
					<img src="../assets/images/truck.png" alt="">
				</div>
				<div class="advantages__advantage-text--1">
					<span>Доставка</span>
				</div>
				<div class="advantages__advantage-text--2">
					<span>по РФ</span>
				</div>
			</div>
		</div>
		<div class="certificate m--t-35">
			<div class="certificate__text-wrapper text--center">
				<div class="certificate__text certificate__text--highlighted text--uppercase text-spacing--M text--title-font">
					<span class="text--highlighted p--l-5 p--r-5">сертифицированная</span>
				</div>
				<div class="certificate__text certificate__text--normal text--uppercase text-spacing--L text--title-font">
					продукция
				</div>
				<div class="certificate__text-logo m--t-25">
					<img src="../assets/images/logo-rst.png" alt="">
				</div>
			</div>
			<div class="certificate__slider-wrapper">
				<div class="certificate__slider def-slider def-slider-1 dots arrows">
					<div class="certificate__slide">
						<img src="../assets/images/certificate.jpg" alt="">
					</div>
					<div class="certificate__slide">
						<img src="../assets/images/certificate.jpg" alt="">
					</div>
					<div class="certificate__slide">
						<img src="../assets/images/certificate.jpg" alt="">
					</div>
					<div class="certificate__slide">
						<img src="../assets/images/certificate.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>	
<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				Хиты продаж
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="def-slider def-slider-3 arrows dots">
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__top">
							<div class="availability">
								<div class="availability__icon tick"></div>
								<span>В наличии</span>
							</div>
							<div class="product-card__serial-num">
								<span>Артикул: ACL-25-1150</span>
							</div>
						</div>
						<a href="single-product.html" class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</a>
						<a href="single-product.html" class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</a>
						<div class="product-card__bottom">
							<div class="product-card__price-wrapper">
								<div class="product-card__discount">₽20 000</div>
								<div class="product-card__price">₽16 900</div>
							</div>
							<div class="product-card__add-button-wrapper">
								<div class="btn">В корзину</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__top">
							<div class="availability">
								<div class="availability__icon cross"></div>
								<span>В наличии</span>
							</div>
							<div class="product-card__serial-num">
								<span>Артикул: ACL-25-1150</span>
							</div>
						</div>
						<a href="single-product.html" class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</a>
						<a href="single-product.html" class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</a>
						<div class="product-card__bottom">
							<div class="product-card__price-wrapper">
								<div class="product-card__discount">₽20 000</div>
								<div class="product-card__price">₽16 900</div>
							</div>
							<div class="product-card__add-button-wrapper">
								<div class="btn" disabled>В корзину</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__top">
							<div class="availability">
								<div class="availability__icon cross"></div>
								<span>В наличии</span>
							</div>
							<div class="product-card__serial-num">
								<span>Артикул: ACL-25-1150</span>
							</div>
						</div>
						<a href="single-product.html" class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</a>
						<a href="single-product.html" class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</a>
						<div class="product-card__bottom">
							<div class="product-card__price-wrapper">
								<div class="product-card__discount">₽20 000</div>
								<div class="product-card__price">₽16 900</div>
							</div>
							<div class="product-card__add-button-wrapper">
								<div class="btn" disabled>В корзину</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__top">
							<div class="availability">
								<div class="availability__icon tick"></div>
								<span>В наличии</span>
							</div>
							<div class="product-card__serial-num">
								<span>Артикул: ACL-25-1150</span>
							</div>
						</div>
						<a href="single-product.html" class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</a>
						<a href="single-product.html" class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</a>
						<div class="product-card__bottom">
							<div class="product-card__price-wrapper">
								<div class="product-card__discount">₽20 000</div>
								<div class="product-card__price">₽16 900</div>
							</div>
							<div class="product-card__add-button-wrapper">
								<div class="btn">В корзину</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	

<%- include('inc/footer.html') %>
</body>

</html>