<%- include('inc/header.html') %>
<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				Обзоры товаров
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="def-slider review-slider-main">
			<div class="review-slider-main__slide">
				<div class="review-slider-main__review main-review">
					<div class="main-review__info">
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
					</div>
					<div class="main-review__video">
						<div class="video modal-trigger" data-modal-id="video-modal-1">
							<img src="../assets/images/video-preview.jpg" alt="">
							<div class="video__play-button">
								<img src="../assets/images/playbutton.svg" alt="">
							</div>
						</div>
						<div class="def-modal modal modal-bg" id="video-modal-1">
							<div class="def-modal__outer-container container">
								<div class="def-modal__inner-container def-modal__inner-container--100">
									<div class="def-modal__wrapper modal-window">
										<div class="def-modal__top">
											<div class="def-modal__title text--500 text--title-font text--L">
												<span class="modal-title">Modal</span>
											</div>
											<div class="def-modal__cross modal-cross">
												<div class="def-modal__cross-line def-modal__cross-line--1"></div>
												<div class="def-modal__cross-line def-modal__cross-line--2"></div>
											</div>
										</div>
										<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
											<div class="full-frame-16-9">
												<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="main-review__description text--500 text--S">
						<p class="text--XS">Складская техника и оборудование, несомненно, значительно повысит производительность труда сотрудников и обеспечит им достойные условия для осуществления своей профессиональной деятельности. А это в свою очередь обеспечит стабильный рост вашего бизнеса.</p>
						<p>Если вам необходима надежная и недорогая техника для склада, мы предлагаем обратиться в нашу компанию.</p>
 
						<p>Продуктивное функционирование склада невозможно представить без специализированного оборудования и техники. Складская техника и оборудование, несомненно, значительно повысит производительность труда сотрудников и обеспечит им достойные условия для осуществления своей профессиональной деятельности. А это в свою очередь обеспечит стабильный рост вашего бизнеса. </p>
						<p><span class="">Этот товар вы можете приобрести </span> <a href="" class="text--M text--colored"> здесь.</a></p>
					</div>
				</div>
			</div>
			<div class="review-slider-main__slide">
				<div class="review-slider-main__review main-review">
					<div class="main-review__info">
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
					</div>
					<div class="main-review__video">
						<div class="video modal-trigger" data-modal-id="video-modal-2">
							<img src="../assets/images/video-preview.jpg" alt="">
							<div class="video__play-button">
								<img src="../assets/images/playbutton.svg" alt="">
							</div>
						</div>
						<div class="def-modal modal modal-bg" id="video-modal-2">
							<div class="def-modal__outer-container container">
								<div class="def-modal__inner-container def-modal__inner-container--100">
									<div class="def-modal__wrapper modal-window">
										<div class="def-modal__top">
											<div class="def-modal__title text--500 text--title-font text--L">
												<span class="modal-title">Modal</span>
											</div>
											<div class="def-modal__cross modal-cross">
												<div class="def-modal__cross-line def-modal__cross-line--1"></div>
												<div class="def-modal__cross-line def-modal__cross-line--2"></div>
											</div>
										</div>
										<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
											<div class="full-frame-16-9">
												<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="main-review__description text--500 text--S">
						<p class="text--XS">Складская техника и оборудование, несомненно, значительно повысит производительность труда сотрудников и обеспечит им достойные условия для осуществления своей профессиональной деятельности. А это в свою очередь обеспечит стабильный рост вашего бизнеса.</p>
						<p>Если вам необходима надежная и недорогая техника для склада, мы предлагаем обратиться в нашу компанию.</p>
 
						<p>Продуктивное функционирование склада невозможно представить без специализированного оборудования и техники. Складская техника и оборудование, несомненно, значительно повысит производительность труда сотрудников и обеспечит им достойные условия для осуществления своей профессиональной деятельности. А это в свою очередь обеспечит стабильный рост вашего бизнеса. </p>
						<p><span class="">Этот товар вы можете приобрести </span> <a href="" class="text--M text--colored"> здесь.</a></p>
					</div>
				</div>
			</div>
			<div class="review-slider-main__slide">
				<div class="review-slider-main__review main-review">
					<div class="main-review__info">
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
					</div>
					<div class="main-review__video">
						<div class="video modal-trigger" data-modal-id="video-modal-3">
							<img src="../assets/images/video-preview.jpg" alt="">
							<div class="video__play-button">
								<img src="../assets/images/playbutton.svg" alt="">
							</div>
						</div>
						<div class="def-modal modal modal-bg" id="video-modal-3">
							<div class="def-modal__outer-container container">
								<div class="def-modal__inner-container def-modal__inner-container--100">
									<div class="def-modal__wrapper modal-window">
										<div class="def-modal__top">
											<div class="def-modal__title text--500 text--title-font text--L">
												<span class="modal-title">Modal</span>
											</div>
											<div class="def-modal__cross modal-cross">
												<div class="def-modal__cross-line def-modal__cross-line--1"></div>
												<div class="def-modal__cross-line def-modal__cross-line--2"></div>
											</div>
										</div>
										<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
											<div class="full-frame-16-9">
												<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="main-review__description text--500 text--S">
						<p class="text--XS">Складская техника и оборудование, несомненно, значительно повысит производительность труда сотрудников и обеспечит им достойные условия для осуществления своей профессиональной деятельности. А это в свою очередь обеспечит стабильный рост вашего бизнеса.</p>
						<p>Если вам необходима надежная и недорогая техника для склада, мы предлагаем обратиться в нашу компанию.</p>
 
						<p>Продуктивное функционирование склада невозможно представить без специализированного оборудования и техники. Складская техника и оборудование, несомненно, значительно повысит производительность труда сотрудников и обеспечит им достойные условия для осуществления своей профессиональной деятельности. А это в свою очередь обеспечит стабильный рост вашего бизнеса. </p>
						<p><span class="">Этот товар вы можете приобрести </span> <a href="" class="text--M text--colored"> здесь.</a></p>
					</div>
				</div>
			</div>
			<div class="review-slider-main__slide">
				<div class="review-slider-main__review main-review">
					<div class="main-review__info">
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
						<div class="text-spacing--M p--10">
							<div class="text--400 text--S">
								Высота ручки, мм
							</div>
							<div class="text--300 text--S">
								1230
							</div>
						</div>
					</div>
					<div class="main-review__video">
						<div class="video modal-trigger" data-modal-id="video-modal-4">
							<img src="../assets/images/video-preview.jpg" alt="">
							<div class="video__play-button">
								<img src="../assets/images/playbutton.svg" alt="">
							</div>
						</div>
						<div class="def-modal modal modal-bg" id="video-modal-4">
							<div class="def-modal__outer-container container">
								<div class="def-modal__inner-container def-modal__inner-container--100">
									<div class="def-modal__wrapper modal-window">
										<div class="def-modal__top">
											<div class="def-modal__title text--500 text--title-font text--L">
												<span class="modal-title">Modal</span>
											</div>
											<div class="def-modal__cross modal-cross">
												<div class="def-modal__cross-line def-modal__cross-line--1"></div>
												<div class="def-modal__cross-line def-modal__cross-line--2"></div>
											</div>
										</div>
										<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
											<div class="full-frame-16-9">
												<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="main-review__description text--500 text--S">
						<p class="text--XS">Складская техника и оборудование, несомненно, значительно повысит производительность труда сотрудников и обеспечит им достойные условия для осуществления своей профессиональной деятельности. А это в свою очередь обеспечит стабильный рост вашего бизнеса.</p>
						<p>Если вам необходима надежная и недорогая техника для склада, мы предлагаем обратиться в нашу компанию.</p>
 
						<p>Продуктивное функционирование склада невозможно представить без специализированного оборудования и техники. Складская техника и оборудование, несомненно, значительно повысит производительность труда сотрудников и обеспечит им достойные условия для осуществления своей профессиональной деятельности. А это в свою очередь обеспечит стабильный рост вашего бизнеса. </p>
						<p><span class="">Этот товар вы можете приобрести </span> <a href="" class="text--M text--colored"> здесь.</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="def-slider review-slider-sec arrows dots">
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card product-card--free-resize m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</div>
						<div class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</div>
					</div>
				</div>
			</div>
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card product-card--free-resize m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</div>
						<div class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</div>
					</div>
				</div>
			</div>
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card product-card--free-resize m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</div>
						<div class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</div>
					</div>
				</div>
			</div>
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card product-card--free-resize m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</div>
						<div class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
</section>

<section>
	<div class="container">
		<div class="section-title m--t-35 m--b-35">
			<h2>
				Наши преимущества
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="advantages" data-tab-container>
			<div class="advantages__advantage advantages__advantage--tab active" data-tab data-tab-window-id="tab1">
				<div class="advantages__advantage-icon">
					<img src="../assets/images/face.png" alt="">
				</div>
				<div class="advantages__advantage-text--1">
					<span>Индивидуальный</span>
				</div>
				<div class="advantages__advantage-text--2">
					<span>подход</span>
				</div>
			</div>
			<div class="advantages__advantage advantages__advantage--tab" data-tab data-tab-window-id="tab2">
				<div class="advantages__advantage-icon">
					<img src="../assets/images/face.png" alt="">
				</div>
				<div class="advantages__advantage-text--1">
					<span>Удобные</span>
				</div>
				<div class="advantages__advantage-text--2">
					<span>способы оплаты</span>
				</div>
			</div>
			<div class="advantages__advantage advantages__advantage--tab" data-tab data-tab-window-id="tab3">
				<div class="advantages__advantage-icon">
					<img src="../assets/images/face.png" alt="">
				</div>
				<div class="advantages__advantage-text--1">
					<span>Консультации по</span>
				</div>
				<div class="advantages__advantage-text--2">
					<span>ТОВАРАМ</span>
				</div>
			</div>
			<div class="advantages__advantage advantages__advantage--tab" data-tab data-tab-window-id="tab4">
				<div class="advantages__advantage-icon">
					<img src="../assets/images/face.png" alt="">
				</div>
				<div class="advantages__advantage-text--1">
					<span>Доставка</span>
				</div>
				<div class="advantages__advantage-text--2">
					<span>по РФ</span>
				</div>
			</div>
		</div>
		<div class="p--15 m--b-35" data-tab-window-container>
			<div class="advantage-window" data-tab-window id="tab1">
				<div class="video video--50 modal-trigger" data-modal-id="info-video-modal-1">
					<img src="../assets/images/video-preview.jpg" alt="">
					<div class="video__play-button">
						<img src="../assets/images/playbutton.svg" alt="">
					</div>
				</div>
				<div class="def-modal modal modal-bg" id="info-video-modal-1">
					<div class="def-modal__outer-container container">
						<div class="def-modal__inner-container def-modal__inner-container--100">
							<div class="def-modal__wrapper modal-window">
								<div class="def-modal__top">
									<div class="def-modal__title text--500 text--title-font text--L">
										<span class="modal-title">Modal</span>
									</div>
									<div class="def-modal__cross modal-cross">
										<div class="def-modal__cross-line def-modal__cross-line--1"></div>
										<div class="def-modal__cross-line def-modal__cross-line--2"></div>
									</div>
								</div>
								<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
									<div class="full-frame-16-9">
										<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="advantage-window" data-tab-window id="tab2">
				<div class="video video--50 modal-trigger" data-modal-id="info-video-modal-2">
					<img src="../assets/images/video-preview.jpg" alt="">
					<div class="video__play-button">
						<img src="../assets/images/playbutton.svg" alt="">
					</div>
				</div>
				<div class="def-modal modal modal-bg" id="info-video-modal-2">
					<div class="def-modal__outer-container container">
						<div class="def-modal__inner-container def-modal__inner-container--100">
							<div class="def-modal__wrapper modal-window">
								<div class="def-modal__top">
									<div class="def-modal__title text--500 text--title-font text--L">
										<span class="modal-title">Modal</span>
									</div>
									<div class="def-modal__cross modal-cross">
										<div class="def-modal__cross-line def-modal__cross-line--1"></div>
										<div class="def-modal__cross-line def-modal__cross-line--2"></div>
									</div>
								</div>
								<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
									<div class="full-frame-16-9">
										<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="advantage-window" data-tab-window id="tab3">
				<div class="video video--50 modal-trigger" data-modal-id="info-video-modal-3">
					<img src="../assets/images/video-preview.jpg" alt="">
					<div class="video__play-button">
						<img src="../assets/images/playbutton.svg" alt="">
					</div>
				</div>
				<div class="def-modal modal modal-bg" id="info-video-modal-3">
					<div class="def-modal__outer-container container">
						<div class="def-modal__inner-container def-modal__inner-container--100">
							<div class="def-modal__wrapper modal-window">
								<div class="def-modal__top">
									<div class="def-modal__title text--500 text--title-font text--L">
										<span class="modal-title">Modal</span>
									</div>
									<div class="def-modal__cross modal-cross">
										<div class="def-modal__cross-line def-modal__cross-line--1"></div>
										<div class="def-modal__cross-line def-modal__cross-line--2"></div>
									</div>
								</div>
								<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
									<div class="full-frame-16-9">
										<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="advantage-window" data-tab-window id="tab4">
				<div class="video video--50 modal-trigger" data-modal-id="info-video-modal-4">
					<img src="../assets/images/video-preview.jpg" alt="">
					<div class="video__play-button">
						<img src="../assets/images/playbutton.svg" alt="">
					</div>
				</div>
				<div class="def-modal modal modal-bg" id="info-video-modal-4">
					<div class="def-modal__outer-container container">
						<div class="def-modal__inner-container def-modal__inner-container--100">
							<div class="def-modal__wrapper modal-window">
								<div class="def-modal__top">
									<div class="def-modal__title text--500 text--title-font text--L">
										<span class="modal-title">Modal</span>
									</div>
									<div class="def-modal__cross modal-cross">
										<div class="def-modal__cross-line def-modal__cross-line--1"></div>
										<div class="def-modal__cross-line def-modal__cross-line--2"></div>
									</div>
								</div>
								<div class="def-modal__content-wrapper def-modal-class-name modal-content-wrapper">
									<div class="full-frame-16-9">
										<iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>

<%- include('inc/footer.html') %>
</body>

</html>