<%- include('inc/header.html') %>
<section>
	<div class="container">
		<div class="m--b-15">
			<h1 class="text--uppercase text--title-font text--highlighted text--L d--i p--5 ">Гидравлическая тележка (рохля) </h1>
		</div>
		<div class="m--b-15">
			<h2 class="text--uppercase text--text-font text--M d--i m--b-15">ЗавСклад ACL-25-1150</h2>	
		</div>
		<div class="product-display">
			<div class="product-display__preview-wrapper">
				<div class="product-display__preview-slider def-slider def-slider-1 dots arrows">
					<div class="product-display__preview">
						<div class="product-display__preview-card">
							<div class="product-display__preview-image">
								<img src="../assets/images/product1.png" alt="">
							</div>
						</div>
					</div>
					<div class="product-display__preview">
						<div class="product-display__preview-card">
							<div class="product-display__preview-image">
								<img src="../assets/images/product1.png" alt="">
							</div>
						</div>
					</div>
					<div class="product-display__preview">
						<div class="product-display__preview-card">
							<div class="product-display__preview-image">
								<img src="../assets/images/product1.png" alt="">
							</div>
						</div>
					</div>	
				</div>
			</div>
			<div class="product-display__content m--b-35">
				<div class="product-display__top">
					<div class="product-display__serial-num">
						Артикул: ACL-25-1150
					</div>
					<div class="availability">
						<div class="availability__icon tick"></div>
						<span>В наличии</span>
					</div>
				</div>
				<div class="product-display__text text--text-font text--S text--400">
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus sit omnis atque officiis ipsa minus nulla repellat porro odio impedit, est, sunt eveniet molestiae dolorem rerum nostrum vero deleniti doloremque!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, alias error corrupti quos. Molestiae, veritatis, doloremque! Nam doloremque molestias aliquam possimus enim distinctio, cumque placeat architecto fuga consectetur natus iste!</p>
				</div>
				<div class="product-display__bottom">
					<div class="product-display__price">
						<span>₽16 900</span>
					</div>
					<button class="product-display__buy-button btn">
						<span>В корзину</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="product-info m--b-35">
			<div class="product-info__tabs" data-tab-container>
				<div class="trapezoid trapezoid--inverted product-info__tab active" data-tab data-tab-window-id="tab1">
					<span>Характеристики</span>
				</div>
				<div class="trapezoid trapezoid--inverted product-info__tab" data-tab data-tab-window-id="tab2">
					<span>Комплектация</span>
				</div>
				<div class="trapezoid trapezoid--inverted product-info__tab" data-tab data-tab-window-id="tab3">
					<span>Упаковка</span>
				</div>
			</div>
			<div class="product-info__windows" data-tab-window-container>
				<div class="product-info__window" id="tab1" data-tab-window>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота подъема (max), мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>

				</div>
				<div class="product-info__window" id="tab2" data-tab-window>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота подъема (max), мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
				</div>
				<div class="product-info__window" id="tab3" data-tab-window>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
					<div class="product-info__info-block">
						<div class="product-info__info-title">
							<span>Высота ручки, мм</span>
						</div>
						<div class="product-info__info-text">
							<span>1230</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="trapezoid-title trapezoid m--t-35 m--b-35">
			<h2>
				Похожие товары
			</h2>
		</div>
	</div>
	<div class="container">
		<div class="def-slider def-slider-3 arrows dots">
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__top">
							<div class="availability">
								<div class="availability__icon tick"></div>
								<span>В наличии</span>
							</div>
							<div class="product-card__serial-num">
								<span>Артикул: ACL-25-1150</span>
							</div>
						</div>
						<a href="single-product.html" class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</a>
						<a href="single-product.html" class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</a>
						<div class="product-card__bottom">
							<div class="product-card__price-wrapper">
								<div class="product-card__discount">₽20 000</div>
								<div class="product-card__price">₽16 900</div>
							</div>
							<div class="product-card__add-button-wrapper">
								<div class="btn">В корзину</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__top">
							<div class="availability">
								<div class="availability__icon cross"></div>
								<span>В наличии</span>
							</div>
							<div class="product-card__serial-num">
								<span>Артикул: ACL-25-1150</span>
							</div>
						</div>
						<a href="single-product.html" class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</a>
						<a href="single-product.html" class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</a>
						<div class="product-card__bottom">
							<div class="product-card__price-wrapper">
								<div class="product-card__discount">₽20 000</div>
								<div class="product-card__price">₽16 900</div>
							</div>
							<div class="product-card__add-button-wrapper">
								<div class="btn" disabled>В корзину</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__top">
							<div class="availability">
								<div class="availability__icon cross"></div>
								<span>В наличии</span>
							</div>
							<div class="product-card__serial-num">
								<span>Артикул: ACL-25-1150</span>
							</div>
						</div>
						<a href="single-product.html" class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</a>
						<a href="single-product.html" class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</a>
						<div class="product-card__bottom">
							<div class="product-card__price-wrapper">
								<div class="product-card__discount">₽20 000</div>
								<div class="product-card__price">₽16 900</div>
							</div>
							<div class="product-card__add-button-wrapper">
								<div class="btn" disabled>В корзину</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="def-slide p--15 m--t-15 m--b-15">
				<div class="product-card m--x-auto">
					<div class="product-card__content-wrapper">
						<div class="product-card__top">
							<div class="availability">
								<div class="availability__icon tick"></div>
								<span>В наличии</span>
							</div>
							<div class="product-card__serial-num">
								<span>Артикул: ACL-25-1150</span>
							</div>
						</div>
						<a href="single-product.html" class="product-card__preview">
							<img src="../assets/images/product1.png" alt="">
						</a>
						<a href="single-product.html" class="product-card__title">
							<span>Гидравлическая тележка (рохля) ЗавСклад ACL-25-1150</span>
						</a>
						<div class="product-card__bottom">
							<div class="product-card__price-wrapper">
								<div class="product-card__discount">₽20 000</div>
								<div class="product-card__price">₽16 900</div>
							</div>
							<div class="product-card__add-button-wrapper">
								<div class="btn">В корзину</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>